:host {
  display: flex;
  align-items: stretch;
  margin: 0 auto;

  /** @prop --left-pane-background-color:  Allows customizing the left pane background-color */
  --left-pane-background-color: transparent;

  /** @prop --right-pane-background-color: Allows customizing the right pane background-color */
  --right-pane-background-color: transparent;
}

button{
  background-color: transparent;
  border: none;
  margin:0;
  padding:0;
  cursor: ew-resize;
}

.pane{
  overflow-y: auto;
  &.transition{
    transition: all 300ms ease-in-out;
  }
  &.left{
    background-color: var(--left-pane-background-color);
  }
  &.right{
    background-color: var(--right-pane-background-color);
  }
}