:host {
  display: inline-block;

  /** @prop --foreground: Defines the foreground color. */
  --foreground: var(--dnn-color-foreground, #000);

  /** @prop --background: Defines the background color. */
  --background: var(--dnn-color-background, #fff);

  /** @prop --focus-color: Defines the color when the component is focused. */
  --focus-color: var(--dnn-color-primary, #3792ED);

  /** @prop --danger-color: Defines the danger color used for invalid data. */
  --danger-color: var(--dnn-color-danger, #900);

  /** @prop --control-radius: Defines the radius for the control corners. */
  --control-radius: var(--dnn-controls-radius, 3px);
}

dnn-fieldset{
  width: 100%;
}

.inner-container{
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;

  input {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--foreground);
    text-align: var(--input-text-align);
    width: 100%;
  }

  svg.chevron-down{
    height: 1rem;
    width: auto;
    transform: scale(1.2);
  }

  ul{
    position: absolute;
    border: 1px solid lightgray;
    margin: 0;
    padding: var(--dnn-controls-radius, 3px) 0;
    overflow-y: auto;
    width: 100%;
    box-shadow: 2px 2px 6px 1px rgb(0 0 0 / 30%);
    background-color: var(--dnn-color-background, white);
    border-radius: var(--dnn-controls-radius, 3px);
    z-index: 1;
    display: none;
    &.show{
      display: block;
    }
    li {
      display: block;
      list-style-type: none;
      cursor: pointer;
      padding: 0 0.5rem;
      &.selected {
        background-color: lightgray;
      }
      &:hover {
        background-color: lightgray;
      }
    }
  }
}
