:host {
  --background-color: transparent;
  --color: #333;
  --border-size: 1px;
  --border-color: var(--backround-color);
  --border-radius: var(--dnn-controls-radius, 5px);
  --padding: var(--dnn-controls-padding, 5px);
  display: inline-block;
  width: auto;
}

:host(.disabled) {
  pointer-events: none;
}

:host(.primary) {
  --background-color: var(--dnn-color-primary, blue);
  --color: var(--dnn-color-primary-contrast, white);
  --focus-color: var(--background-color);
}

:host(.primary.reversed) {
  --background-color: var(--dnn-color-primary-contrast, white);
  --color: var(--dnn-color-primary, blue);
  --border-color: var(--dnn-color-primary, blue);
  --focus-color: var(--color);
}

:host(.secondary) {
  --background-color: var(--dnn-color-secondary, green);
  --color: var(--dnn-color-secondary-contrast, white);
  --focus-color: var(--background-color);
}

:host(.secondary.reversed) {
  --background-color: var(--dnn-color-secondary-contrast, white);
  --color: var(--dnn-color-secondary, blue);
  --border-color: var(--dnn-color-secondary, blue);
  --focus-color: var(--color);
}

:host(.tertiary) {
  --background-color: var(--dnn-color-tertiary, yellow);
  --color: var(--dnn-color-tertiary-contrast, black);
  --focus-color: var(--background-color);
}

:host(.tertiary.reversed) {
  --background-color: var(--dnn-color-tertiary-contrast, white);
  --color: var(--dnn-color-tertiary, blue);
  --border-color: var(--dnn-color-tertiary, blue);
  --focus-color: var(--color);
}

:host(.hydrated) button {
  border: var(--border-size) solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--padding) calc(var(--padding) * 2);
  background-color: transparent;
  background-color: var(--background-color);
  color: var(--color);
  outline: none;
}
:host(.hydrated) button:focus, :host(.hydrated) button:hover {
  box-shadow: 0 0 2px 2px var(--focus-color);
}

:host(:disabled, [disabled]) button {
  pointer-events: none;
  opacity: 0.5;
}

:host(.small) button {
  padding: calc(var(--padding) / 2) var(--padding);
  font-size: 0.7em;
}

:host(.large) button {
  padding: calc(var(--padding) * 1.5) calc(var(--padding) * 3);
  font-size: 1.2em;
}

button {
  height: 100%;
  width: 100%;
  cursor: pointer;
}