:host {
  display: inline-block;

  --foreground: var(--dnn-color-foreground, #000);
  --background: var(--dnn-color-background, #fff);
  --focus-color: var(--dnn-color-primary, #3792ED);
  --control-radius: var(--dnn-controls-radius, 3px);
  --input-text-align: left;
}

.container{
  border: 1px solid var(--foreground, #000);
  border-radius: var(--control-radius, 3px);
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  gap: 0.1em;
  position: relative;
  .inner-container{
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  label{
    display: inline-block;
    position: absolute;
    opacity: 0.6;
    transition: all 150ms ease-in-out;
    left: 0;
    top: 0;
    padding: 0 0.5rem;
    background-color: var(--background);
    white-space: nowrap;
    max-width: 100%;
  }
  input{
    border: none;
    outline: none;
    color: transparent;
    text-align: var(--input-text-align);
  }
  &.focused{
    border: 1px solid var(--focus-color);
    box-shadow: 0 0 0 1px var(--focus-color);
    label{
      opacity: 1;
      left: 0.5rem;
      top: -1rem;
    }
    input{
      color: var(--foreground, #000);
    }
  }
  &.has-value{
    label{
      opacity: 1;
      left: 0.5rem;
      top: -1rem;
    }
    input{
      color: var(--foreground, #000);
    }
  }
  &.disabled{
    opacity: 0.5;
  }
}

.help-text{
  font-style: italic;
  opacity: 0.7;
  font-size: 0.8rem;
  margin: 0.25rem;
}
.prefix, .suffix{
  font-size: 0.8rem;
}